@font-face {
  font-family: "ProximaNovaCond";
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormal-136b8b50cabde19e5e8ab530f99e81ac.eot");
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormal-136b8b50cabde19e5e8ab530f99e81ac.eot?#iefix") format("embedded-opentype"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormal-30ea31cbd1e9632c6002a58b4eeb233f.woff") format("woff"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormal-972dee448fc162e9c89cb9beaaaecbfb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "ProximaNovaCond";
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormalItalic-c6b62bc44b0d3459f56ba92459c6c163.eot");
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormalItalic-c6b62bc44b0d3459f56ba92459c6c163.eot?#iefix") format("embedded-opentype"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormalItalic-174e83d6c5f650786cd413aa4276955d.woff") format("woff"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormalItalic-2a4911a4114779c4fe31e01e55573dc4.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: "ProximaNovaCond";
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBold-2f7537a1c2ebacfa4d9f42fa66f0ca68.eot");
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBold-2f7537a1c2ebacfa4d9f42fa66f0ca68.eot?#iefix") format("embedded-opentype"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBold-6e302c8978b1bd9d453fba318a1fa572.woff") format("woff"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBold-e3a413a3f145ddf79ef77f8ce3b45201.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "ProximaNovaCond";
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBoldItalic-86767d54bb7b6f76568c3cdf7a11c7a9.eot");
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBoldItalic-86767d54bb7b6f76568c3cdf7a11c7a9.eot?#iefix") format("embedded-opentype"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBoldItalic-926b0b499b8fa86bf8e9e61097c9c5b4.woff") format("woff"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBoldItalic-749708412f9df0bc77e7542423cafd26.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
