@import "flexbox";
@import "kinja_fonts";
@import "breakpoint";
@import "breakpoints";

.message .text:empty {
  &+ .embed {
    margin: 5px 0 10px;
  }
}
.embed {
  @include flexbox;
  @include flex-direction(row);
  @include align-items(stretch);
  padding-left: 0;
  margin: 20px 0;
  @include breakpoint(max-width $mobile) {
    padding-left: 0;
  }
  // border-left: 2px solid #ddd;

  &.article {
    .media {
      margin-right: 12px;
      max-width: 120px;
      @include flex(0 1 auto);
      @include breakpoint(max-width $mobile) {
        display: none;
      }
      img {
        max-width: 100%;
      }
    }
  }
  &.video {
    padding-left: 0;
    display: block;
    iframe {
      outline: none;
      border: none;
    }
  }
  .content {
    @include flex(1 1 auto);
    @include flex-direction(column);
    a {
      text-decoration: none;
    }
    h4 {
      font-family: ProximaNovaCond;
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: black;
    }
    .description {
      font-family: ProximaNovaCond;
      font-size: 14px;
      color: #696969;
    }
  }
}

.native {
  display: none;
}
.tweet:empty {
  display: none;
}
.tweet:empty + .native {
    @include flexbox;
}
