// Place all the styles related to the liveblogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "flexbox";
@import "kinja_fonts";
@import "keyframe";
@import "animation";

.liveblog {
  max-width: 800px;
  .header {
    @include flexbox;
    @include flex-direction(row);
    @include align-content(stretch);
    margin: 20px 0;
    h3 {
      font-family: ProximaNovaCond;
      text-transform: uppercase;
      @include flex(1 0 0);
      margin: 0;
    }
    .status {
      text-transform: uppercase;
      font-family: ProximaNovaCond;
      font-size: 17px;
      @include flexbox;
      @include flex-direction(row);
      @include align-content(center);
      .record {
        display: none;
        height: 10px;
        width: 10px;
        border-radius: 7px;
        border: 2px solid white;
        background: rgb(219, 12, 12);
        margin: 1px 5px;
        @include align-items(center);
      }
      .live {
        color: rgb(219, 12, 12);
        &:after {
          content: "Live now";
        }
        &+ .record {
          @include animation(0s, 5s, glow, infinite);
          @include flexbox;
          @include flex(1 0 0);
        }
      }
      .ended {
        color: black;
        &:after {
          content: "Ended";
        }
      }
    }
  }
}

@include keyframes(glow) {
  0%,100%{ box-shadow:0 0 8px rgba(255, 0, 0, 0.7); }
  50%{ box-shadow:0 0 8px rgba(255, 0, 0, 0.3); }
}
