// Place all the styles related to the liveblogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "flexbox";
@import "kinja_fonts";
@import "keyframe";
@import "animation";
@import "colors";

.liveblog {
  max-width: 636px;
  border-bottom: 1px solid $rule_color;
  padding-bottom: 25px;
  .header {
    @include flexbox;
    @include flex-direction(column);
    @include align-content(stretch);
    margin: 0;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid $rule_color;
    border-bottom: 1px solid $rule_color;
    h3 {
      font-family: ProximaNovaCond;
      font-size: 22px;
      padding-bottom: 6px;
      text-transform: uppercase;
      @include flex(1 1 auto);
      margin: 0;
    }
    .status {
      text-transform: uppercase;
      font-family: ProximaNovaCond;
      font-size: 17px;
      // display: block;
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(center);
      .record {
        display: none;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: red;
        margin: 3px 8px;
      }
      .live {
        color: red;
        font-weight: bold;
        font-size: 15px;
        &:after {
          content: "Live now";
        }
      }
    }
    &.live .record {
      display: inline-block;
      // @include animation(0s, 5s, glow, infinite);
      // @include flexbox;
      // @include flex(1 0 0);
    }
    .ended {
      color: black;
      text-transform: none;
      font-size: 16px;
      &:after {
        content: "";
      }
    }
  }
}
.end_message {
  font-family: ProximaNovaCond;
  text-align: center;
  width: 100%;
}

@include keyframes(glow) {
  0%,100%{ box-shadow:0 0 8px rgba(255, 0, 0, 0.7); }
  50%{ box-shadow:0 0 2px rgba(255, 0, 0, 0.4); }
}
