@import "flexbox";
@import "kinja_fonts";

body {
  margin: 0;
  padding: 0;
}
.messages {
  max-width: 636px;
  width: 100%;
  @include flexbox;
  @include flex-direction(column);
  .message {
    width: 100%;
    @include flexbox;
    @include flex-direction(row);
    @include align-content(stretch);
    margin-top: 15px;
    .avatar {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      margin-bottom: 10px;
      img {
        width: 100%;
        border-radius: 4px;
      }
    }
    .alt.timestamp {
      line-height: 25px;
      display: none;
      font-family: ProximaNovaCond;
      text-align: right;
      width: 100%;
      font-size: 12px;
    }
    .timestamp {
      color: #777;
      font-size: 13px;
    }
    .content {
      @include flex(1 0 0);
      .user_and_time {
        @include flexbox;
        @include flex-direction(row);
        font-family: ProximaNovaCond;
        .username {
          font-weight: bold;
          font-size: 16px;
          margin-right: 10px;
        }
      }
      .text {
        line-height: 22px;
        font-family: Georgia;
        a {
          color: rgb(203, 84, 84);
          text-decoration: none;
        }
        img {
          max-width: 100%;
          margin-top: 10px;
          display: block;
          &.emoji {
            margin: 0;
          }
        }
        figure {
          margin: 0;
          padding: 0;
          display: inline-block;
          a {
            color: black;
          }
          figcaption {
            font-family: ProximaNovaCond;
            float: right;
            color: black;
          }
        }
      }
    }
    &.hide {
      margin-top: 10px;
      .avatar {
        height: 20px;
      }
      .avatar img {
        display: none;
      }
      .user_and_time {
        display: none;
      }
      &:hover {
        .alt.timestamp {
          display: inline-block;
        }
      }
    }
  }
  button.load_more {
    font-family: ProximaNovaCond;
    padding: 13px 0 10px;
    background: #FBC000;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    &:hover {
      background: rgba(251, 192, 0, 0.8);
    }
  }
  .loading {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
  }
}

.emoji {
  width: 18px;
  height: 18px;
  display: inline-block;
}
