@import "flexbox";
@import "kinja_fonts";
@import "breakpoint";
@import "breakpoints";
@import "colors";

body {
  margin: 0;
  padding: 0;
}
.messages {
  max-width: 636px;
  width: 100%;
  min-height: 500px;
  @include flexbox;
  @include flex-direction(column);
  .message:first-child {
    margin-top: 0;
    border-top: none;
  }
  .message {
    width: 100%;
    @include flexbox;
    @include flex-direction(row);
    @include align-content(stretch);
    padding: 29px 0 0;
    margin-top: 20px;
    border-top: 1px solid $rule_color;
    .avatar {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      margin-bottom: 10px;
      @include breakpoint(max-width $mobile) {
        margin-right: 10px;
      }
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .alt.timestamp {
      line-height: 25px;
      display: none;
      font-family: ProximaNovaCond;
      text-align: right;
      width: 100%;
      font-size: 12px;
    }
    .timestamp {
      color: #777;
      font-size: 13px;
      line-height: 19px;
    }
    .content {
      @include flex(1 0 0);
      .user_and_time {
        @include flexbox;
        @include flex-direction(row);
        font-family: ProximaNovaCond;
        .username {
          font-weight: bold;
          font-size: 16px;
          margin-right: 10px;
          line-height: 18px;
        }
      }
      .text {
        line-height: 22px;
        font-family: Georgia;
        a {
          color: rgb(203, 84, 84);
          text-decoration: none;
          -ms-word-break: break-all;
          // /* Be VERY careful with this, breaks normal words wh_erever */
          word-break: break-all;
          // /* Non standard for webkit */
          word-break: break-word;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
        }
        img {
          max-width: 100%;
          margin-top: 10px;
          display: block;
          &.emoji {
            margin: 0;
          }
        }
        figure {
          margin: 0;
          padding: 0;
          display: inline-block;
          a {
            color: black;
          }
          figcaption {
            font-family: ProximaNovaCond;
            float: right;
            color: black;
          }
        }
      }
    }
    &.hide {
      border-top: none;
      padding: 0;
      .avatar {
        height: 20px;
      }
      .avatar img {
        display: none;
      }
      .user_and_time {
        display: none;
      }
      &:hover {
        .alt.timestamp {
          display: inline-block;
        }
      }
    }
  }
  .message  + .message.hide {
    padding: 10px 0 0;
    margin-top: 0px;
  }
  button.load_more {
    font-family: ProximaNovaCond;
    padding: 12px 0 10px;
    letter-spacing: 1px;
    background: #6b6b6b;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    &:hover {
      background: #787878;
    }
  }
  .loading {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
  }
}

.emoji {
  width: 18px;
  height: 18px;
  display: inline-block;
}
